<div>
  <h1>{{ section.settings.text-box }} </h1>
</div>
{% schema %}
  {
    "name": "Custom Masha Section",
    "settings": [
	{
		"id":"text-box",
	    "type": "text",
	    "label": "MMMMMMM"
	}
	],

    "presets": [
	{
		"name": "Call To action",
		"category": "Call To Action"
	}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
