<div>
  <h1>{{section.settings.text-box-title}} </h1>
  
</div>


{% schema %}

  {
    "name": "Text Box",
    "settings": [
	{
		
		"id": "text-box-title",
		"type": "text",
		"label":"Heading",
		"default": "Masha"
	}]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
