{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}
<h1> This is a cart template </h1>
{% section 'cart-template' %}
{% section 'test' %}

